<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой блог достижений{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>{% block header %}Мои навыки и достижения{% endblock %}</h1>
        <nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Главная</a></li>
        <li><a href="{{ url_for('notes') }}">Дневник программиста</a></li>
        <li><a href="{{ url_for('view_db') }}">Просмотр БД</a></li>
        <li><a href="#about">Обо мне</a></li>
        <li><a href="#skills">Навыки</a></li>
        <li><a href="#progress">Прогресс обучения</a></li>
    </ul>
</nav>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ now.year }} Мой блог достижений.</p>
        <address>
            Свяжитесь со мной: <a href="mailto:me@example.com">me@example.com</a>
        </address>
    </footer>
</body>
</html>